<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>git Naughty</title>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Awesome Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Custom styles -->
  <link href="style.css" rel="stylesheet">

  <!-- Asap font -->
  <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>

</head>
<body>
<h1>stop making FETCH happen!</h1>
</body>
</html>