/*body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Asap', sans-serif;
  background-color: pink;
}*/

body, html {
    height: 100%;

}
body {
    background: -moz-linear-gradient(to bottom, #FFFFFF, #0099ff);
    background: linear-gradient(to bottom, #FFFFFF, #0099ff);
}



.navbar {
  margin-bottom: 20px;
}


.a-icon {
 background-color: rgb(224, 235, 245); 
}

.edit-pencil {
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  opacity: .3;
}

.edit-pencil:hover {
  opacity: .6;
}

.edit{ 
  color: #000000;
}


.my-button-group{
  display: inline-block; 
  float: right;
}

#new-text{
  width:100%;

}

.newformline1{
  padding-bottom: 15px;
}